/* --------- color Style ---------- */


span.highlight-text{
	color: rgba(0, 0, 0, 0.75);
}

/*-------------------------Slider Stuff Start-------------------------*/

span.highlight-header-text{
	color: #black;
}

.blete-main-slides h1.blete-slider-text-big{
	color: white;
}

.blete-main-slides p{
	color: #bbc4ef;
}

/*-------------------------Slider Stuff End-------------------------*/


span.blete-first-highlight-text{
	color: rgba(0, 0, 0, 0.62);
}

span.blete-second-highlight-text{
	color: rgba(0, 0, 0, 0.62);
}

span.blete-third-highlight-text{
	color: rgba(0, 0, 0, 0.62);
}

.blete-button-solid{
	background-color: #000000;
}

.blete-button-solid:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.62);
}
.blete-button-outline-light:hover{
	background-color: #000000
}

.blete-button-outline-dark:hover{
	background-color: #000000;
}

.blete-button-outline-round-dark:hover{
	background-color: #000000;
}

.blete-btn-round{
	background-color: #000000;
}

.blete-btn-round:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.62);
}

.blete-button-outline-round:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.62);
}

.blete-blurb-icon-only i{
	color: #000000;
}

.blete-blurb-icon-only h3{
	color: #000000
}

.work-feature h3{
    color: black !important;
    font-weight: bold !important;
    text-decoration: underline;
}

.blete-blurb-round-icon .feature-highlight{
	background-color: black !important;
}

.blete-blurb-round-icon:hover .feature-highlight{
	background-color: white !important;
}

.blete-blurb-round-icon:hover .blete-icon{
	background-color: #000000;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.62);
}
.blete-blurb-icon-left-square {
    color: transparent;
    background-color: rgba(0, 0, 0, 1);
}

.blete-blurb-icon-left-square:hover {
    color: white;
}

.blete-blurb-icon-left-square .blete-icon:hover {
	background-color: #000000;
}

.blete-blurb-round-icon .feature-highlight {
	color: black !important;
}

.blete-blurb-round-icon:hover h3{
	color: #ffffff;
}

.blete-blurb-round-icon feature-highlight i {
	color: #ffffff !important;
}

.blete-blurb-round-icon:hover .feature-highlight i{
	color: #000000 !important;
}

.blete-blurb-round-icon .blete-icon i {
	color: #ffffff;
}

.blete-blurb-round-icon:hover .blete-icon i{
	color: #ffffff;
}

.blete-blurb-round-icon:hover .blete-icon{
	border: 1px solid rgba(0,0,0,0);
}
.blete-blurb-round-icon h3{
	color: #ffffff;
}

.blete-blurb-icon-left-square:hover .blete-blurb-text h3{
	color: #ffffff;
}

.blete-blurb-icon-left-square .blete-blurb-text h3:after{
	background-color: transparent;
}

.blete-blurb-icon-left-square:hover .blete-blurb-text h3:after{
	background-color: #ffffff;
}

.blete-main-menu .navbar-nav li a{
    color: inherit;
}

.blete-main-menu .navbar-nav li a:hover,
.blete-main-menu .navbar-nav li.active a{
    text-shadow: 7.5px 7.5px 7px rgba(0, 0, 0, 0.45);
}

.blete-slider .sp-selected-button {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
}

.blete-member-details h3{
	color: black;
}
#scrollUp:hover {
	background-color: #000000;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.62);
}
/* --------- Team Style ---------*/
.blete-member-details ul li a:hover {
	background-color: #000000;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
}
/* --------- Featured Work ---------- */
.blete-port-work-details .blete-port-work-desc p a:hover{
	color: #000000;
}

.blete-port-work-details .blete-port-work-desc h3{
	color: #000000;
}

.blete-port-work-details .blete-port-work-desc .blete-like-btn a:hover{
	color: #000000;
}

.blete-port-work-details .blete-port-work-desc .blete-like-btn a:hover i{
	color: #000000;
}

/* --------- Portfolio Style -----------*/
.blete-portfolio-filter-btn-group ul li a.selected{
	background-color: #000000;
}

.blete-portfolio-item .blete-portfolio-details h3{
	color: #000000;
}

.blete-portfolio-item .blete-portfolio-details p a:hover{
	color: #000000;
}

.blete-portfolio-btn-wrapper a.blete-portfolio-btn:hover{
	color: #ffffff;
	background-color: #000000;
	border: 2px solid transparent;
}
.blete-portfolio-details .blete-portfolio-meta-btn ul li:hover {
    background-color: #000000;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
}
.blete-portfolio-filter-btn-group ul li a {
	border: 2px solid #000000;
	margin: 2px;
    color: #333;
}
.blete-custom-sec-text ul li i{
	color: #000000;
}
.blete-process-item:hover h3{
	color: #000000;
}
.blete-pricing-plans a.blete-signup-btn {
	background-color: #000000;
}

.blete-pricing-plans a.blete-signup-btn:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.62);
}
.owl-theme .owl-controls .owl-page span {
  border: 1px solid #000000;
}

.owl-theme .owl-controls .owl-page.active span {
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
}

.blete-footer-social-info li:hover {
	background-color: #000000;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
}
/* ------- Contact Style ------ */
.blete-contact-section .blete-contact-form input[type="submit"] {
	background-color: #000000;
}
.blete-contact-section .blete-contact-form input[type="submit"]:hover {
	opacity: 0.6;
}
.blete-contact-section .blete-contact-address ul li i {
	background-color: #000000;
}

/* ------ Section Header Style ------ */

/*-Main stuff that you would actually change-*/

/*Main menu when it's at the very top*/
.blete-main-menu{
    background-color: transparent;
    color: white;
}

/*Main menu when it's not at the top*/
.blete-main-menu.minified {
    background-color: rgba(255, 255, 255, .95);
    color: #000;
}

.portfolio-item-title{
    background-color: #ffffff;
    color: #000;
}

.blockchain-title h2{
    color: white;
}

.careerfair-title h2{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.blete-title-wrapper{
    background-color: #ffffff;
    color: #FFFFFF;
}

.blete-first-wrapper{
    background-color: #ffffff;
    color: black;
}

.blete-second-wrapper{
    background-color: white;
    color: black;
}

.blete-third-wrapper{
    background-color: white;
    color: #FFFFFF;
}

.navbar-toggle {
    color: black;
}